// Custom, iPhone Retina (min-width : 320px)
// Extra Small Devices, Phones (min-width : 480px)
//- Small Devices, Tablets (min-width : 768px) 
// Medium Devices, Desktops (min-width : 992px)
//- Large Devices, Wide Screens (min-width : 1200px) 
$colGutters: 25px;
.col {
    @extend .center;
    width: 320px - $colGutters;
}

/*
@media only screen and (min-width: 768px) {
    .col {
        width: 768px - $colGutters;
    }
}
@media only screen and (min-width: 1200px) {
    .col {
        width: 1200px - $colGutters;
    }
}
*/

@include MQ(M) {
    .col {
        width: $breakpoint-M - $colGutters;
    }
}
@include MQ(L) {
    .col {
        width: $breakpoint-L - $colGutters;
    }
}
