.feed-photo {
    width: 240px;
    height: 160px;
	float: left;
}
.feed-title{
	font-family: "Comfortaa", "Arial Black", Gadget, sans-serif;
}
.feed-caption{
	vertical-align: top;
	float: left;
	margin: 10px 20px;
}
