<figure class="clearfix">
    <img src="http://farm6.staticflickr.com/5614/15752227602_2b59def360_m.jpg" class="feed-photo">
    <figcaption class="feed-caption">
        <h2 class="feed-title">Photo title</h2>
        <div class="lt-M2">
            <a href="#" class="feed-link-author">Photo author</a>
            <p class="feed-copy">Published ...</p>
            <a href="#" class="feed-link-toFlick">View on Flickr</a>
        </div>
        <!--
	    <div class="gt-M">
	        <p class="feed-copy">Published ...</p>
	        <a href="#" class="feed-link-author">Photo author</a>
	        <a href="#" class="feed-link-toFlick">View on Flickr</a>
	    </div>
		-->
    </figcaption>
</figure>

<figure class="clearfix">
    <img src="http://farm6.staticflickr.com/5614/15752227602_2b59def360_m.jpg" class="feed-photo">
    <figcaption class="feed-caption">
        <h2 class="feed-title">Photo title</h2>
        <div class="lt-M2">
            <a href="#" class="feed-link-author">Photo author</a>
            <p class="feed-copy">Published ...</p>
            <a href="#" class="feed-link-toFlick">View on Flickr</a>
        </div>
        <!--
	    <div class="gt-M">
	        <p class="feed-copy">Published ...</p>
	        <a href="#" class="feed-link-author">Photo author</a>
	        <a href="#" class="feed-link-toFlick">View on Flickr</a>
	    </div>
		-->
    </figcaption>
</figure>
