<div class="popup-container">
    <div class="popup-button-back-top" ui-sref="home">BACK</div>
    <h1 class="item-title">Title</h1>

    <a href="#" class="item-author" ng-href="{{item.link | getAuthor}}">Photo author</a> |
    <span class="item-publication">Published: {{item.published | feedDate}}</span>

    <img class="item-picture" ng-src="http://placehold.it/240x10">
    <p class="item-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi iusto dolore deserunt est fuga ullam, quam earum quas impedit placeat expedita voluptatibus dolorem ipsa non commodi ea. Voluptates, hic, voluptatem.
    <br>
    <br>Tags:
        <a href="#" class="item-tags-tag">tag1</a>
        <a href="#" class="item-tags-tag">tag2</a>
    </p>
</div>
<div class="popup-background"></div>
