<div class="popup-container-wrapper">
    <div class="popup-container clearfix" ng-controller="itemController">
        <div class="popup-button-back-top" ui-sref="home">BACK</div>
        <h1 class="item-title" ng-bind="item.title"></h1>

        <a href="#" class="item-author" ng-href="{{item.link | getAuthor}}">Photo author</a> |
        <span class="item-publication">Published: {{item.published | feedDate}}</span>

        <div class="item-picture-wrapper">
            <img class="item-picture" ng-src="{{item.media.m}}">
        </div>
        <p class="item-copy">
            {{description}}
            <span class="item-tags">
                <span class="item-tags-tag">Tags:</span>
                <a href="#" class="item-tags-tag" ng-repeat="tag in tags">{{tag}}</a>
            </span>
        </p>
    </div>
</div>
<div class="popup-background"></div>
