.hidden {
    display: none!important;
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.ie7.clearfix {
    zoom: 1;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// for text replacement
.hide-text {
    @include hide-text(left);
}
